body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* Reset */
a:hover {
  text-decoration: none;
}

.template h2 {
  margin-bottom: 15px;
}

.template-detail-link {
  font-size: 20px;
  color: #00ABEC;
  font-weight: 700;
}

.template-detail-link:hover {
  color: #F7931D;
  text-decoration: none;
}

#detail p {
  margin-top: 15px;
}

.image {
  width: 267px;
  height: 175px;
  background-size:cover;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
}

.imagetitle {
  font-family:roboto slab;
  font-weight:700;
  font-size: 20px;

}

#image-1 {
  background:url(../images/Clipper_thumb.jpg);
}

#image-2 {
  background:url(../images/YJ_thumb.jpg);
}

#image-3 {
  background:url(../images/Barstow_thumb.jpg);
}

#image-4 {
  background:url(../images/MCE_thumb.jpg);
}

#image-5 {
  background:url(../images/Hayward_thumb.jpg);
}

#image-6 {
  background:url(../images/Oxford_thumb.jpg);
}

#image-7 {
  background:url(../images/SNS_thumb.jpg);
}

#image-8 {
  background:url(../images/lastchance_thumb.jpg);
}

#image-9 {
  background:url(../images/Fairfield_thumb.jpg);
}

#image-10 {
  background:url(../images/sparky_thumb.jpg);
}

#image-11 {
  background:url(../images/SC_thumb.jpg);
}

#image-12 {
  background:url(../images/autism_thumb.jpg);
}

#image-13 {
  background:url(../images/ChristmasCardthumb.jpg);
}
#image-14 {
  background:url(../images/DH_thumb.jpg);
}
#image-15 {
  background:url(../images/SolanoMobility_thumb.jpg);
}
#image-16 {
  background:url(../images/GeneralAssembly_thumb.jpg);
}
#image-17 {
  background:url(../images/d12_thumb.jpg);
}
#image-18 {
  background:url(../images/curve_thumb.jpg);
}

.container.images {
  padding-left: 0;
  padding-right: 0;
}

.overlay {
  background:rgba(189,29,44,.85);
  text-align:center;
  width: 267px;
  height: 175px;
  padding-top: 30px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.image:hover .overlay {
  opacity: 1;
}

.text {
  font-weight: 300;
  color: rgba(255,255,255,1);
  font-size: 19px;
}

/* NAVBAR STYLES */

.navbar {
  background-color: #004E6A;
  color: white;
  margin-bottom: 0px;
  padding-top: 7px;
  border: none;
}

.navbar-brand {
  height:65px;
  font-family:'roboto slab', sans-serif;
  letter-spacing: 1px;
}

img#brand.navbar-brand {
  margin-top: -8px;
}

.navbar-default .navbar-brand {
  color: white;
}

a.navbar-brand {
  color: #FFF;
  font-size: 1.2em; /* 21 px / 16 px */
  font-weight: 300;
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  font-size: 1em; /* 14 px / 16 px */
  font-weight: 400;
  color: #6ECFF5;
  letter-spacing:.5px;
  font-family: 'roboto slab', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #F5911D;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #6ECFF5;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #004E6A;
}

.bullet {
  margin-top: 15px;
  color: #6ECFF5;
}

#topleftnav {
  display: block;
}

#nav-image {
  display: inline-block;
}

#nav-brand {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* HOMEPAGE STYLES */

.pattern {
  background-image: url(../icons/strip.jpg);
  background-repeat: repeat-x;
  height: 23px;
}

#jumbotron-header {
  font-size: 5.2em;
  font-weight: 300;
  margin: 0;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #004E6A;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.jumbotron hr {
  border-color: #FFF;
}

#jumbotron-text {
  font-size: 1.6em;
  font-weight: 300;
  color: #6ECFF5;
  padding-top: 20px;
  font-family: 'roboto slab', sans-serif;
}

#about {
  margin-top: 50px;
  padding-bottom: 50px;
}

figure {
  margin: 0 auto;
}

#work-experiences {
  padding-top: 50px;
}

hr {
  border-top: 1px solid #666;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  font-weight: 900;
}

#about .section-title h2 {
  color: #004E6A;
}

.section-header {
  display: block;
}

.section-image {
  display: inline-block;
}

.section-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#work-experiences {
  color: #004E6A;
}

#image-container {
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: left;
  max-width: 1450px;
}

.images:nth-child(2),
.images:nth-child(3) {
  padding-top: 10px;
}


.images {
  margin-top: 20px;
}

.images img {
  width: 267px;
  margin: 12px 12px;
}

#contact {
  color: white;
}

#contact p {
  text-align: center;
}

#email {
  font-size: 1.5em;
  font-weight: 400;
  color: #6ECFF5;
  padding-top: 200px;
  font-family: 'roboto slab', sans-serif;
 letter-spacing: 1px;

}

#email-address {
  letter-spacing: 2px;
  margin-bottom: 200px;
}

#email-address a:hover {
  color: #F5911D;
}

#email-link {
  font-size: 1.3em;
  font-weight: 500;
  color: #FFF;
}

#contact a {
  color: #FFF;
}

#contact a:hover {
  text-decoration: none;
}

#resume {
  display: none;
  font-weight: 800;
}

#resume a:hover {
  color: #F5911D;
  text-decoration: none;
}

/* TEMPLATE STYLES */

.carousel {
  width: 968px;
  height: 477px;
  margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

#detail h2 {
  font-size: 20px;
  font-weight: 600;
  color: #BD1D2C;
}

.blue-text {
  font-size: 19px;
  font-weight: 700;
  color: #004E6A;
  font-family: 'roboto slab', sans-serif;
}

.client {
  font-size: 19px;
}
#detail {
  padding-bottom: 50px;
}

#detail p {
  font-size: 20px;
  font-weight: 300;
  color: #004E6A;
  line-height: 1.7;
}

#detail img {
  width: 183px;
  height: 148px;
}

#detail-text {
  padding-top: 20px;
  padding-bottom: 30px;
}

#detail-text2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#detail-text2 img {
  height:350px;
  width:auto;
}


@media screen and (min-width: 992px) {
#detail-text2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#detail-text2 img {
  height:400px;
  width:auto;
}

}

@media screen and (min-width: 662px) {
#detail-text2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#detail-text2 img {
  height:400px;
  width:auto;
}

}


.template-section-image {
  display: inline-block;
}

.template-section-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

#template-thumbnail-container {
  display: block;
}

.template-thumbnail {
  display: inline-block;
}

.template-thumbnail:nth-child(1) {
  margin: 20px 20px 20px 0;
}

.template-thumbnail:nth-child(2),
.template-thumbnail:nth-child(3) {
  margin: 20px 20px;
}

.template #email-address {
  margin-bottom: 0;
}

.template #email-link {
  font-size: 1.1em;
}

.template .jumbotron {
  padding-top: 70px;
  padding-bottom: 80px;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 968px) {
  .carousel {
    width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 991px) {
  .template-thumbnail {
    display: block;
  }
  
  #image-container {
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 1450px;
}

  .template-thumbnail:nth-child(1) {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 767px) {
#image-container {
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 1450px;
}

  #template-thumbnail-container {
    text-align: center;
  }
  a.navbar-brand {
    display: none;
  }

  .nav>li.bullet {
    display: none;
  }

  figure {
    display: none;
  }

  #resume {
    display: inherit;
  }

  .section-image {
    margin-bottom: 20px;
  }

  .section-image,
  .section-title {
    display: block;
  }

  .section-title {
    margin-left: 0;
  }

  .section-header {
    text-align: center;
  }

  #jumbotron-header {
    font-size: 2.6em;
  }

  #jumbotron-text {
    font-size: 1.2em;
  }

  .section-title h2 {
    font-size: 2.9375em; /* 47px / 16px */
  }

  #about .section-title,
  #work-experiences .section-title {
    margin-bottom: 20px;
  }

  #email {
    font-size: 1.2em;
    padding-top: 90px;
  }

  #email-address {
    font-size: .9375em; /*  15px / 16px */
  }

  #template #contact #email-address {
    display: inline-block;
    text-align: top;
  }

  #email-link,
  .template #email-link {
    font-size: 1.4em;
  }

  .red-text {
    font-size: 20px;
    color: #004E6A;
  }

  #detail p {
    font-size: 20px;
  }
}

/* Circle Diagram */

.about .diagram {
  position: relative;
}

.about .diagram .ring {
  border-radius: 50%;
  position: absolute;
  border: 1px solid #939597;
}

.about .circles li {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 9px;
}

.about .circles {
  display:inline-block;
  border-bottom: 1px solid #939597;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0.5em;
}

.about .circles li:first-child {
  margin-left: 0;
}

.about .circles li:last-child {
  margin-right: 0;
}

.about .event-wrapper {
  display: inline-block;
}

.about .ring.selected {
  border-width: 3px;
}

.about .diagram[ data-color="red" ] .ring.selected {
  border-color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .ring.selected {
  border-color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .ring.selected {
  border-color: #F7931D;
}

.about .event-line-wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 20;
}

.about .event-line {
  height: 3px;
  float:right;
}

.about .event-text-wrapper {
  display: inline-block;
  width: 195px;
  padding-left: 20px
}

.about .event-text {
  text-align: left;
}

.about .event-text .year {
  font-size: 4.25em;
  letter-spacing: 1px;
  margin-bottom: -15px;
  display: inline-block;
}

.about .event-text .description {
  font-size: 1.25em;
  display: inline-block;
  width: 200px;
}

.about .diagram[ data-color="red" ] .event-text .year {
  color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .event-text .year {
  color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .event-text .year {
  color: #F7931D;
}

.about .circles li[ data-color="red" ],
.about .diagram[ data-color="red" ] .event-line {
  background-color: #BE1E2D;
}

.about .circles li[ data-color="orange" ],
.about .diagram[ data-color="orange" ] .event-line {
  background-color: #F05A28;
}

.about .circles li[ data-color="yellow" ],
.about .diagram[ data-color="yellow" ] .event-line {
  background-color: #F7931D;
}

.about .guy {
  position: absolute;
}

.about .guy {
  width: 62px;
}

.about .roll-over {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  color: #004E6A;
  letter-spacing: .5px;
  font-size: .85em; /* 15px / 16px */
  font-weight: 700;
  padding-left: 100px;
}

.about .headline-wrapper .description {
  margin: 7px 0 0 25px;
  line-height: 1.26em;
  font-size: .95em;
  width: 333px;
}

.about .legend {
  position: relative;
  width: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

.about .legend ul {
  width: 46%;
  float: right;
  padding-left: 0;
}

.about .legend ul li {
  padding-top: 14px;
  font-size: 1.33em;
  letter-spacing: 1px;
  list-style-type: none;
}

.about .legend ul li:before {
  content: '';
  display: inline-block;
  margin: 0 12px -2px 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.about .legend ul .work-experience {
  color: #BE1E2D;
  font-size: 1.1em; /* 17px / 16px */
  font-weight: 700;
  width: 300px;
  font-family:'roboto slab', sans-serif;
}

.about .legend ul .work-experience:before {
  background-color: #BE1E2D;
}

.about .legend ul .education {
  color: #F05A28;
  font-size: 1.1em; /* 17px / 16px */
  font-weight: 700;
  font-family:'roboto slab', sans-serif;

}

.about .legend ul .education:before {
  background-color: #F05A28;
}

.about .legend ul .personal-achievments {
  color: #F7931D;
  font-size: 1.1em; /* 17px / 16px */
  font-weight: 700;
  width: 300px;
  font-family:'roboto slab', sans-serif;

}

.about .legend ul .personal-achievments:before {
  background-color: #F7931D;
}

.about .legend .freelance-design {
  padding-top: 16px;
  width: 46%;
  float: left;
}

.about .legend .freelance-design h4 {
  color: #004E6A;
  display: inline;
  padding-right: .2em;
  font-size: 1.1em; /* 17px / 16px */
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'roboto slab', sans-serif;
}

.about .legend .freelance-design p {
  font-size: .95em; /* 15px / 16px */
  font-weight: 300;
  display: inline;
  line-height: 1.4;
}

.about .legend .freelance-design a {
  margin-top: 10px;
  color: #00ABEC;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  font-size: 1.1em; /* 17px / 16px */
  font-weight: 700;
  font-family:'roboto slab', sans-serif;

}

.about .legend .freelance-design a:hover {
  color: #F7931D;
}

.about .year {
  font-family: 'roboto slab';
  font-size: 3.75em; /* 60px / 16px */
  font-weight: 900;
}
