body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* 

Figure: center on page, connect lines to circles, add little guy

Roll over text: 15px, 800 weight, dark blue;

Work Experience etc.: 17px, 800 weight

Other text: 15px, 300 weight;

Date: 60px, 800 weight, need all caps font so #s are all on same line

Regular type: 17px, 300 weight

Make hover text appear on top of work example images: 90% opacity, red, text 20px 600 (bold), 300 (light) weight;

MOBILE

Remove name from navbar

34px white type
12px blue type
headers 47px
about text 17px
email: 12px
email address: 15px;
email address: change color on hover to ;

*/

/* SKEW STYLES */

.header {
  z-index: 1;
  position: relative;
}

.footer {
  z-index: 1;
  position: relative;
}

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #004E6A;
  z-index: -1;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
    -webkit-backface-visibility: hidden;
}

.footer .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -25px;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #004E6A;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;
}

.header .skew .header-inner {
  max-width: 850px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer .skew .header-inner {
  max-width: 850px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

#jumbotron-header {
  font-size: 4.25em;
  font-weight: 300;
}

/* NAVBAR STYLES */

.navbar {
  background-color: #004E6A;
  color: white;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}

.navbar-brand {
  height:68px;
}

img#brand.navbar-brand {
  margin-top: -8px;
}

.navbar-default .navbar-brand {
  color: white;
}

a.navbar-brand {
  color: #FFF;
  font-size: 1.3125em; /* 21 px / 16 px */
  font-weight: 300;
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  font-size: 1em; /* 14 px / 16 px */
  font-weight: 300;
  color: #6ECFF5;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #6ECFF5;
}

.navbar-default .navbar-toggle {
  border: none;
}

.bullet {
  margin-top: 15px;
  color: #6ECFF5;
}

#topleftnav {
  display: block;
}

#nav-image {
  display: inline-block;
}

#nav-brand {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* PAGE STYLES */

.jumbotron {
  background-color: #004E6A;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

#jumbotron-text {
  font-size: 1.6875em;
  font-weight: 300;
  color: #6ECFF5;
}

#about {
  margin-top: 50px;
}

#work-experiences {
  padding-bottom: 50px;
}

hr {
  background-color: black;
}

#figure {
  text-align: center;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  font-weight: 800;
}

#about h2 {
  color: #004E6A;
}

.section-header {
  display: block;
}

.section-image {
  display: inline-block;
}

.section-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#work-experiences {
  /*border-top: 1px solid black;*/
  margin-bottom: 50px;
  color: #004E6A;
}

#work-experiences .images {
  text-align: center;
}

#bottom-carat {
  background-color: #004E6A;
  margin-left: 0px;
  margin-right: 0px;
}
#bottom-carat b {
  border-top: 30px solid #FFFFFF;
}

#contact {
  color: white;
}

#contact p {
  text-align: center;
}

#email {
  font-size: 1.6875em; /* 27px / 16px */
  font-weight: 300;
  color: #6ECFF5;
}

#email-address {
  font-size: 1.875em; /* 30px / 16px */
  font-weight: 800;
  color: #FFF;
}

#contact a {
  color: #FFF;
}

.col-md-4 {
  margin: 10px 0 10px 0;
}

.col-md-4 img {
  width: 370px;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  vertical-align: top;
}

.image:after {
  content:'TEST';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,0,0,0.9);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s
}

.image:hover:after {
  opacity: 1;
}

/*#figure {
  text-align: center;
}*/

#resume {
  display: none;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 767px) {
  a.navbar-brand {
    display: none;
  }

  figure {
    display: none;
  }

  #resume {
    display: inherit;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/*@media screen and (min-width : 320px) and (max-width : 480px) {
  #about figure {
    display: none;
  }
}*/

/* Circle Diagram */

.about .diagram {
  position: relative;
}

.about .diagram .ring {
  border-radius: 50%;
  position: absolute;
  border: 1px solid #939597;
}

.about .circles li {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 9px;
}

.about .circles {
  display:inline-block;
  border-bottom: 1px solid #939597;
  padding-bottom: 0.5em;
}

.about .circles li:first-child {
  margin-left: 0;
}

.about .circles li:last-child {
  margin-right: 0;
}

.about .event-wrapper {
  display: inline-block;
}

.about .ring.selected {
  border-width: 3px;
}

.about .diagram[ data-color="red" ] .ring.selected {
  border-color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .ring.selected {
  border-color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .ring.selected {
  border-color: #F7931D;
}

.about .event-line-wrapper {
  position: absolute;
}

.about .event-line {
  height: 3px;
  float:right;
}

.about .event-text-wrapper {
  display: inline-block;
  width: 195px;
  padding-left: 20px
}

.about .event-text {
  text-align: left;
}

.about .event-text .year {
  font-size: 4.25em;
  letter-spacing: 1px;
  margin-bottom: -15px;
  display: inline-block;
}

.about .event-text .description {
  font-size: 1.25em;
  display: inline-block;
}

.about .diagram[ data-color="red" ] .event-text .year {
  color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .event-text .year {
  color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .event-text .year {
  color: #F7931D;
}

.about .circles .red,
.about .diagram[ data-color="red" ] .event-line {
  background-color: #BE1E2D;
}

.about .circles .orange,
.about .diagram[ data-color="orange" ] .event-line {
  background-color: #F05A28;
}

.about .circles .yellow,
.about .diagram[ data-color="yellow" ] .event-line {
  background-color: #F7931D;
}

.about .guy {
  position: absolute;
}

.about .roll-over {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 0px;
  color: rgb(0, 99, 109);
  letter-spacing: .85px;
  font-size: .85em;
}

.about .headline-wrapper .description {
  margin: 7px 0 0 25px;
  line-height: 1.26em;
  font-size: .95em;
  width: 333px;
}

.about .legend {
  position: relative;
  width: 600px;
  padding-top: .5em;
}

.about .legend ul {
  width: 46%;
  float: left;
}

.about .legend ul li {
  padding-top: 14px;
  font-size: 1.33em;
  letter-spacing: 1px;
  list-style-type: none;
}

.about .legend ul li:before {
  content: '';
  display: inline-block;
  margin: 0 12px 1px 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.about .legend ul .work-experience {
  color: #BE1E2D;
  font-size: 1em
}

.about .legend ul .work-experience:before {
  background-color: #BE1E2D;
}

.about .legend ul .education {
  color: #F05A28;
  font-size: 1em

}

.about .legend ul .education:before {
  background-color: #F05A28;
}

.about .legend ul .personal-achievments {
  color: #F7931D;
  font-size: 1em
}

.about .legend ul .personal-achievments:before {
  background-color: #F7931D;
}

.about .legend .freelance-design {
  padding-top: 8px;
  width: 46%;
  float: right;
}

.about .legend .freelance-design h4 {
  color: #BE1E2D;
  display: inline;
  padding-right: .5em;
  letter-spacing: 1px;
  font-size: .85em
}

.about .legend .freelance-design p {
  font-size: .9em;
  display: inline;
}

.about .legend .freelance-design a {
  margin-top: 10px;
  color: #00636D;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  font-size: .85em;
}

.about .legend .freelance-design a:hover {
  color: #F7931D;
}


