body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 10%;
}

/* NAVBAR STYLES */

.navbar {
  background-color: #004E6A;
  color: white;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}

.navbar-brand {
  height:68px;
}

img#brand.navbar-brand {
  margin-top: -8px;
}

.navbar-default .navbar-brand {
  color: white;
}

a.navbar-brand {
  color: #FFF;
  font-size: 1.3125em; /* 21 px / 16 px */
  font-weight: 300;
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  font-size: 1em; /* 14 px / 16 px */
  font-weight: 300;
  color: #6ECFF5;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #F5911D;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #6ECFF5;
}

.navbar-default .navbar-toggle {
  border: none;
}

.bullet {
  margin-top: 15px;
  color: #6ECFF5;
}

#topleftnav {
  display: block;
}

#nav-image {
  display: inline-block;
}

#nav-brand {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* HOMEPAGE STYLES */

.pattern {
  background-image: url(./img/strip.jpg);
  background-repeat: repeat-x;
  height: 23px;
}

#jumbotron-header {
  font-size: 4.25em;
  font-weight: 300;
  margin: 0;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #004E6A;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

#jumbotron-text {
  font-size: 1.6875em;
  font-weight: 300;
  color: #6ECFF5;
  padding-top: 20px;
}

#about {
  margin-top: 50px;
}

#work-experiences {
  padding-bottom: 50px;
}

hr {
  background-color: black;
}

#figure {
  text-align: center;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  font-weight: 800;
}

#about h2 {
  color: #004E6A;
}

.section-header {
  display: block;
}

.section-image {
  display: inline-block;
}

.section-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#work-experiences {
  /*border-top: 1px solid black;*/
  margin-bottom: 50px;
  color: #004E6A;
}

#contact {
  color: white;
}

#contact p {
  text-align: center;
}

#email {
  font-size: 1.5em;
  font-weight: 300;
  color: #6ECFF5;
  padding-top: 200px;
}

#email-address {
  letter-spacing: 3px;
  margin-bottom: 200px;
}

#email-address a:hover {
  color: #F5911D;
}

#email-link {
  font-size: 1.35em;
  font-weight: 800;
  color: #FFF;
}

#contact a {
  color: #FFF;
}

#resume {
  display: none;
}

/* TEMPLATE STYLES */

.red-text {
  color: darkred;
}

#detail {
  padding-bottom: 50px;
}

.template-section-image {
  display: inline-block;
}

.template-section-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 767px) {
  a.navbar-brand {
    display: none;
  }

  figure {
    display: none;
  }

  #resume {
    display: inherit;
    font-size: 1.0625em; /* 17px / 16px */
  }

  .section-image,
  .section-title {
    display: block;
  }

  .section-header {
    text-align: center;
  }

  #jumbotron-header {
    font-size: 2.125em; /* 34px / 16px */
  }

  #jumbotron-text {
    font-size: .75em; /* 12px / 16px */
  }

  .section-title h2 {
    font-size: 2.9375em; /* 47px / 16px */
  }

  #email {
    font-size: .75em; /* 12px / 16px */
  }

  #email-address {
    font-size: .9375em; /*  15px / 16px */
  }
}

/* Circle Diagram */

.about .diagram {
  position: relative;
}

.about .diagram .ring {
  border-radius: 50%;
  position: absolute;
  border: 1px solid #939597;
}

.about .circles li {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 9px;
}

.about .circles {
  display:inline-block;
  border-bottom: 1px solid #939597;
  padding-bottom: 0.5em;
}

.about .circles li:first-child {
  margin-left: 0;
}

.about .circles li:last-child {
  margin-right: 0;
}

.about .event-wrapper {
  display: inline-block;
}

.about .ring.selected {
  border-width: 3px;
}

.about .diagram[ data-color="red" ] .ring.selected {
  border-color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .ring.selected {
  border-color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .ring.selected {
  border-color: #F7931D;
}

.about .event-line-wrapper {
  position: absolute;
}

.about .event-line {
  height: 3px;
  float:right;
}

.about .event-text-wrapper {
  display: inline-block;
  width: 195px;
  padding-left: 20px
}

.about .event-text {
  text-align: left;
}

.about .event-text .year {
  font-size: 4.25em;
  letter-spacing: 1px;
  margin-bottom: -15px;
  display: inline-block;
}

.about .event-text .description {
  font-size: 1.25em;
  display: inline-block;
}

.about .diagram[ data-color="red" ] .event-text .year {
  color: #BE1E2D;
}

.about .diagram[ data-color="orange" ] .event-text .year {
  color: #F05A28;
}

.about .diagram[ data-color="yellow" ] .event-text .year {
  color: #F7931D;
}

.about .circles .red,
.about .diagram[ data-color="red" ] .event-line {
  background-color: #BE1E2D;
}

.about .circles .orange,
.about .diagram[ data-color="orange" ] .event-line {
  background-color: #F05A28;
}

.about .circles .yellow,
.about .diagram[ data-color="yellow" ] .event-line {
  background-color: #F7931D;
}

.about .guy {
  position: absolute;
}

.about .roll-over {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 0px;
  color: #004E6A;
  letter-spacing: .85px;
  font-size: .9375em; /* 15px / 16px */
  font-weight: 800;
}

.about .headline-wrapper .description {
  margin: 7px 0 0 25px;
  line-height: 1.26em;
  font-size: .95em;
  width: 333px;
}

.about .legend {
  position: relative;
  width: 600px;
  padding-top: .5em;
}

.about .legend ul {
  width: 46%;
  float: left;
}

.about .legend ul li {
  padding-top: 14px;
  font-size: 1.33em;
  letter-spacing: 1px;
  list-style-type: none;
}

.about .legend ul li:before {
  content: '';
  display: inline-block;
  margin: 0 12px 1px 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.about .legend ul .work-experience {
  color: #BE1E2D;
  font-size: 1.0625em; /* 17px / 16px */
  font-weight: 800;
}

.about .legend ul .work-experience:before {
  background-color: #BE1E2D;
}

.about .legend ul .education {
  color: #F05A28;
  font-size: 1.0625em; /* 17px / 16px */
  font-weight: 800;
}

.about .legend ul .education:before {
  background-color: #F05A28;
}

.about .legend ul .personal-achievments {
  color: #F7931D;
  font-size: 1.0625em; /* 17px / 16px */
  font-weight: 800;
}

.about .legend ul .personal-achievments:before {
  background-color: #F7931D;
}

.about .legend .freelance-design {
  padding-top: 8px;
  width: 46%;
  float: right;
}

.about .legend .freelance-design h4 {
  color: #BE1E2D;
  display: inline;
  padding-right: .5em;
  letter-spacing: 1px;
  font-size: 1.0625em; /* 17px / 16px */
  font-weight: 300;
}

.about .legend .freelance-design p {
  font-size: .9375em; /* 15px / 16px */
  font-weight: 300;
  display: inline;
}

.about .legend .freelance-design a {
  margin-top: 10px;
  color: #00636D;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  font-size: 1.0625em; /* 17px / 16px */
  font-weight: 300;
}

.about .legend .freelance-design a:hover {
  color: #F7931D;
}

.about .year {
  font-family: 'Lato';
  font-size: 3.75em; /* 60px / 16px */
  font-weight: 900;
}
